html{
   /* background-image: url("imagenes pokemon/pokemon collage.jpg");*/ 
}



body {
  padding: 10px 5px;
  position:relative;
  
}
.logo-nav-container{

  display: flex;
  justify-content:space-between;
  align-items: center;
}
.wrapper {
  width: 85%;
  margin: auto;
  overflow:hidden;
  
}
.navigation ul{
  margin: 0%;
  padding: 0%;
  list-style: none;
}
.navigation ul li{
display: inline-block;
}
.navigation ul li a{
  display: block;
  
}
.navigation ul li a:hover{
  background: #D3D3D3;
}

.card:hover{
background:#D3D3D3; 
}

#content {
    background: rgb(240, 248, 255,0.5);
    /*height: 1100em;*/
    text-align: center;
    margin: auto 5% 5%;
    border-radius: 25px;
    padding: 30px 40px 30px 40px;
}

header {
  background: rgb(35, 20, 20,0.5);
  margin: auto;
  border-radius: 15px;
  padding: 10px; 
}

/*header img {
  float:right;
  height:110px;
  width: 600px;
  }*/

  div.ordenar {
    text-align: center;
    background:rgb(255,255,255,0.5);
    border-radius: 15px;
    padding:13px;
    font-size: 20px;
    font-family:'Oswald', sans-serif;
    font-weight: bolder;
    margin: auto 5%;
    margin-top: 5%;
    border: 2px solid black;
    }
    
.card{
    background:rgb(255, 255, 255);
    opacity: 100%;
    padding: 10px 40px;
    border-radius: 15px;
    max-height: 200px;
}

.pkm-thmb {
  height: 50%;
}

.pkm{
  height:100% ;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    /* z-index: 1;  Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgb(0, 0, 0, 0.5); /* Black w/ opacity */
}
h2{
    color: rgb(27, 20, 20);
}

/* Modal Header */
.modal-header, .evolutions,.preevolutions {
  padding: 5px 16px;
  background-color: #d8ecd8;
  color: rgb(3, 3, 3);
}
/* Modal Body */
.modal-body {
  padding: 5px 16px;
}
/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
   /* height: 100%;*/
    font-family: 'Oswald', sans-serif;
  }
  /* The Close Button */
.close {
    color: rgb(37, 35, 35);
    float: right;
    font-size: 28px;
    font-weight: bolder;
  }
.close:hover,
.close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

#averages {
    background:rgb(255,255,255,0.7);
    border-radius: 15px;
}
    
#ocultar {
  background: rgb(240, 248, 255,0.8);
  max-width: 90%;
  text-align: justify;
  margin: 5% 5%;
  border-radius: 25px;
  padding: 30px 40px 30px 40px;
}

div #ocultar h1 {
  text-align: center;
  padding: 5px;
  margin: 5px;
  color:rgba(8, 211, 247, 0.815);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  font-family:'Oswald', sans-serif;
  font-size: 70px;
}

div #ocultar p {
  text-align: justify;
  color:rgb(0, 0, 0);
  font-family:'Oswald', sans-serif;
  font-size: 20px;
}

.infoBanner {
  display: inline-block;
  text-align: center;
}

.infoBanner h2 {
  color:rgb(56, 247, 8);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  text-align: center;
  margin: 3% auto;
  font-family: 'Oswald', sans-serif;
  font-size: 50px;
}

p.text-banner {
  margin: 3% auto;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
}

.to-top{
	color:black;
	padding-top:1.8em;
	display:inline-block;/* or block */
  position:relative;
  top:50%;
  left: 60%;
	border-color:rgb(22, 3, 3);
	text-decoration:none;
	transition:all .3s ease-out;
}
.to-top:before{
	content:'▲';
	font-size:.9em;
	position:absolute;
	top:0;
	left:50%;
	margin-left:-.7em;
	border:solid .13em white;
	border-radius:10em;
	width:1.4em;
	height:1.4em;
	line-height:1.3em;
	border-color:inherit;
	transition:transform .5s ease-in;
}
.to-top:hover{
	color:rgb(250, 74, 103);
	border-color:rgb(206, 21, 52);
}
.to-top:hover:before{
	transform: rotate(360deg);
}

#ancla {
	color:black;
	padding-top:1.8em;
	display:inline-block;/* or block */
  position:relative;
  left: 80%;
	border-color:rgb(22, 3, 3);
  text-decoration:none;
  text-align:center;
  font-family: 'Oswald', sans-serif;
  font-size:180%;
  margin:auto;
	transition:all .3s ease-out;
}
#ancla:before {
	content:'▲';
	font-size:.60em;
	position:absolute;
	top:0%;
	left:40%;
	margin-left:-.9em;
	border:solid .20em rgb(146, 231, 48);
	border-radius:30em;
	width:3em;
	height:3em;
	line-height:3em;
	border-color:inherit;
	transition:transform .5s ease-in;
}
#ancla:hover {
	color:rgb(21, 132, 206);
	border-color:rgb(167, 27, 27);
}
#ancla:hover:before {
	transform: rotate(360deg);
}


